body{
  font-family: "Trebuchet MS", sans-serif;
  margin: 50px;
  background-color:#c00;
}
#wrapper{
  margin:0 auto;
  padding:20px;
  width:600px;
  border:6px solid #004276;
  border-radius:10px;
  background-color:#fff;
}
h1{
  font-size:2.5em;
}
h2{
  font-size:1.75em;
}
h3{
  font-size:1.5em:
}
p, li{
  font-size:1.25em;
}
label{
  font-size:1.5em;
  line-height:85px;
  color:#c00;
}
img{
  height:75px;
  float:right;
}
.topping-list{
  margin:0;
  padding:0;
  display:inline-block;
  list-style-type:none;
}
